* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.exemplo {
    width: 90%;
    margin: auto;
    background-color: yellow;
}

:root {
    --bege: #bf8869;
    --marrom: #26120b;
    --terracota: #8c5b4a;
    --cinza: #a69895;
    --vermelho: #a6514a;
    --branco: #fff;
    --preto: #000;
} 

html {
    font-size: 16px;
}

body {
    background-color: var(--branco);
}

header {
    background-color: var(--vermelho);
    top: 0;
    position: sticky;
    z-index: 100;
}

h1 img {
    width: 100px;
    padding: 20px;
}

.icones a img, nav a img {
    width: 25px;
}

.links-menu{
    list-style: none;
    display: none;
}

.container{
    display: flex;
    justify-content: space-between;
    
}
.img{
    color: #000;
}