* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.exemplo {
    width: 90%;
    margin: auto;
    background-color: yellow;
}

:root {
    --bege: #bf8869;
    --marrom: #26120b;
    --terracota: #8c5b4a;
    --cinza: #a69895;
    --vermelho: #a6514a;
    --branco: #fff;
    --preto: #000;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--branco);
}

header {
    background-color: var(--vermelho);
    top: 0;
    position: sticky;
    z-index: 100;
}

h1 img {
    width: 100px;
    padding: 20px;
}

.icones a img,
nav a img {
    width: 25px;
}

.links-menu {
    list-style: none;
    display: none;
}

.img-pro {

    border-radius: 20px;
    padding: 2px;
    margin: 1px;
    /* width: 100%;
    height: 100%; */
}

.container {
    display: flex;
    justify-content: space-between;

}

.produtos-img {
    border: solid 2px;
    border-radius: 10px;
    /* width: 40%; */
    margin: 20px;
    min-width: 100px;
    text-align: start;
    box-shadow: black 2px 2px 20px;
    padding: 2px;
    height: 10%;


}

/* .slider-lan {
    width: 100%;
    height: 100%;    
} */

/* section{
    width: 100%;
} */