@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cont {
  max-width: 100%;
  
}
/* 
.geral {
    max-width: 1500px;
    min-width: 500px;
    width: 90vw;
    margin: auto;
} */

:root {
    --bege: #bf8869;
    --marrom: #26120b;
    --terracota: #8c5b4a;
    --cinza: #a69895;
    --vermelho: #a6514a;
    --branco: #fff;
    --preto: #000;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    overflow-x: hidden
    ;
    background-color: var(--branco);
 
}

header {
    background-color: var(--vermelho);
    top: 0;
    position: sticky;
    z-index: 100;
}

h1 img {
    width: 100px;
    padding: 20px;
}

.h2-container {
    padding-left: 20px;
    padding-top: 30px;
    margin-top: 20px;
}

h2 {
    font-family: libre-baskerville-regular, sans-serif;
}

.p-prod {
    font-family: 'Monserrat', sans-serif;
}

hr {
    display: none;
}

.icones a img,
nav a img {
    width: 25px;
}

.links-menu {
    list-style: none;
    display: none;
}

.img-pro {

    border-radius: 10px;
    padding: 2px;
    margin: auto;

    width: 100%;
    height: 100%;
}

.container {

    display: flex;
    justify-content: space-between;

}

.cat {
    display: flex;
    flex-wrap: wrap;
    /*     padding: 50px; */
    text-align: center;
    width: 400px;
    margin: auto;
}

.img-cat {
    /*    border: solid black 1px; */
    /*     height: 100px; */
    width: 50%;


}

.slider-lan {

    /* width: 80%; */
    margin: auto;
}

.cada-slide {
    padding: 4px;
    border: solid 1px;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
    text-align: start;

}

.foto-slide {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


  @media screen and (min-width: 800px) {
    .foto-slide{
        max-width: none;
        width: 100vw;
        height: 100%;
    }
    
    .slider-lan{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        max-width: 25%;
        margin: none;
    }
}

  @media screen and (min-width: 1000px) {
    
  }